[Desktop Entry]
Type=Application
Terminal=false
Name=Encfsui
Exec=/usr/bin/encfsui -i60 .Private Private
Icon=encfsui
Categories=Security;Settings;
StartupWMClass=EncFSUI
